services:
  siren:
    build:
      args:
        MODE: gpu
      context: .
    ports:
      - "9934:8000"
    volumes:
      - ${HF_HOME}:/root/.cache/huggingface
    environment:
      - SIREN_API_KEY=${SIREN_API_KEY}
    devices:
      - nvidia.com/gpu=all
